@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --black: #000000;
  ---white: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e2e8f0;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #4d7c0f;
  --green-800: #3f6212;
  --green-900: #14532d;

  --xs: 0.75rem;
  --sm: 0.875rem;
  --tiny: 0.875rem;
  --base: 1rem;
  --lg: 1.125rem;
  --xl: 1.25rem;
  --2xl: 1.5rem;
  --3xl: 1.875rem;
  --4xl: 2.25rem;
  --5xl: 3rem;
  --6xl: 4rem;
  --7xl: 5rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray-800);
}

.absolute {
  position: absolute;
}

header {
  display: flex;
  position: relative;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
}

header > a > img {
  width: 8rem;
}

nav {
  color: var(--gray-100);
}

.nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-800);
  left: 0;
  right: 0;
  top: -1000px;
  height: 100vh;
  gap: 3rem;
  transition: 500ms all;
  z-index: 99999;
}

.nav-link {
  color: var(--gray-100);
}

.nav-link.active {
  padding: 0.5em 1em;
  outline: solid;
  outline-width: 1px;
}

.nav-link:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
}

.close-menu {
  width: 4rem;
  height: 4rem;
  margin-top: 5rem;
}

.hamburger-menu,
.close-menu {
  cursor: pointer;
}

.hamburger-menu:hover,
.close-menu:hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

/* main */
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
}

/* Section left */
#left {
  color: var(--gray-100);
  order: 2;
  margin-top: 3em;
}

#left > h1 {
  font-size: 2rem;
  font-weight: bold;
}
#left > h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
#left > h3 {
  font-size: 0.75rem;
}
#left > p {
  margin-top: 1em;
  margin-bottom: 3em;
  font-size: 0.85rem;
}

#left > button {
  background-color: var(--green-600);
  color: var(--gray-100);
  padding: 8px 4px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 2rem;
}

#left > button:hover {
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
}

#left > h1,
#left > h2 {
  color: var(--green-500);
}

#right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure > div {
  position: absolute;
  background-color: rgba(109, 144, 128, 0.45);
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 120%;
}

figure > img {
  width: 171px;
  height: 272px;
  background-size: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-accessories {
  width: 5rem;
  height: 5rem;
}

.img-accessories:hover {
  transform: translate3d(10px, 10px, 10px) skew(-2deg);
  transition: 200ms all;
}

.accessories-1 {
  top: 35%;
  left: -25%;
}

.accessories-2 {
  width: 3rem;
  height: 3rem;
  top: 0%;
  right: -25%;
}

.accessories-3 {
  width: 3rem;
  height: 3rem;
  top: 30%;
  right: -5%;
  z-index: -999;
}

/* Media Queries */
/* sm */
@media (min-width: 640px) {
  header > a > img {
    width: 100%;
  }
  header {
    padding: 1rem 5rem;
  }

  main {
    padding: 1rem 8rem;
  }
}

/* md */
@media (min-width: 768px) {
  .nav-list {
    position: static;
    flex-direction: row;
    height: 100%;
  }
  .hamburger-menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  main {
    margin-top: 2rem;
  }

  /* Section left */
  #left > h1 {
    font-size: 2rem;
  }

  #left > h2 {
    font-size: 1.25rem;
  }

  #left > h3 {
    font-size: 0.85rem;
  }

  #left > p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.125rem;
  }

  #left > button {
    padding: 16px 12px;
  }
}

/* lg */
@media (min-width: 1024px) {
  header,
  main {
    padding: 1rem 148px;
  }
  main {
    padding: 1rem 252px;
  }

  figure > img {
    width: 211px;
    height: 312px;
  }
}

/* xl */
@media (min-width: 1280px) {
  #left {
    order: 1;
  }

  #right {
    order: 2;
  }

  #left,
  #right {
    width: 50%;
  }
  main {
    flex-direction: row;
    margin-top: 124px;
  }

  figure > div {
    width: 50%;
  }

  /* Section left */
  #left > h1 {
    font-size: 3rem;
  }

  #left > h2 {
    font-size: 2.25rem;
  }

  #left > h3 {
    font-size: 1.125rem;
  }

  #left > p {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.125rem;
  }

  #left > button {
    background-color: var(--green-600);
    color: var(--gray-100);
    font-size: 1rem;
  }

  figure > img {
    width: 329px;
    height: auto;
  }

  .img-accessories {
    width: 8rem;
    height: 8rem;
  }

  .accessories-1 {
    left: 15%;
  }

  .accessories-2 {
    width: 3rem;
    height: 3rem;
    top: 0%;
    right: 22%;
  }

  .accessories-3 {
    width: 5rem;
    height: 5rem;
    top: 30%;
    right: 30%;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .accessories-1 {
    left: 20%;
  }
}
