@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("./root.css");
@import url("./header.css");
@import url("./main.css");

section#hero > h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

section#projects-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: space-around;
  margin-top: 3rem;
}

.project-card__anchor {
  width: 100%;
  min-height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray-700);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 1.25em;
  border-radius: 8px;
  transition: 300ms all;
}

.project-card__anchor:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.025);
}

.project-card__header > h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.35em;
}

.project-card__header > p {
  opacity: 0.8;
}

.project-card__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 3em;
}

.badge {
  background-color: var(--gray-500);
  font-size: 14px;
  padding: 0.5em;
  border-radius: 4px;
}

/* Media Queries */ /* sm */
@media screen and (min-width: 640px) {
  .project-card__anchor {
    width: 100%;
  }
}

/* md */
@media screen and (min-width: 768px) {
}

/* lg */
@media screen and (min-width: 1024px) {
  section#hero > h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  section#projects-list {
    justify-content: flex-start;
    flex-direction: row;
  }

  .project-card {
    width: 40%;
  }
}

/* 2xl */
@media screen and (min-width: 1536px) {
  .project-card {
    width: 30%;
  }

  section#hero > h1 {
    font-size: 3rem;
  }
}
